{% extends 'base.html.twig' %}

{% block title %}CatFood{% endblock %}

{% block body %}
    <h1>CatFood</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cat_food.id }}</td>
            </tr>
            <tr>
                <th>Menu</th>
                <td>{{ cat_food.Menu }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ cat_food.Description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cat_food_index') }}">back to list</a>

    <a href="{{ path('cat_food_edit', {'id': cat_food.id}) }}">edit</a>

    {{ include('cat_food/_delete_form.html.twig') }}
{% endblock %}
